@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Cores
$azulAcizentado: #6D8EA0;
$verdeSalvia: #8BAF92;
$rosaQueimado: #C98591;
$lilasSuave: #A88CB5;
$mostardaDesbotado: #C4A46B;

// Fontes
$fontePrincipal: "Oswald", serif;;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;   
$breakpoint-desktop: 1024px;